<% if !@game.current_player %>
  the game has ended!!
<% elsif !@game.first_dealer %>
  who dealt first?
  <%= form_for(@game) do |form| %>
    <select name="game[first_dealer_id]">
        <% @game.game_players.each do |gp| %>
            <option value="<%= gp.id %>"><%= gp.player.name %></option>
        <% end %>
    </select>
    <%= form.submit %>
  <% end %>
<% else %>
  what did <%= @current_player.player.name %> score?
  <div>
    <%= form_for(@current_hand_player) do |f| %>
      <input type="hidden" name="hand_player[position]" value="<%= @game.current_hand_position %>" />
      <p>
        <%= f.label :bid %><br>
        <%= f.number_field :bid %>
      </p>
      <p>
        <%= f.label :tricks %><br>
        <%= f.number_field :tricks %>
      </p>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th>Cards</th>
      <th>Dealer</th>
      <% @game.game_players.each do |gp| %>
        <th><%= gp.player.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @game.hands.each do |hand| %>
      <tr>
        <td><%= hand.card_count %></td>
        <td style="color: grey">
          <% if hand.dealer %>
            <%= hand.dealer.player.name %>
          <% end %>
        </td>

        <% hand.hand_players.each do |hp| %>
          <% if hp.bid %>
            <td style="<%= 'color: red' if hp.got_set %>">
              <%= hp.bid %> - <%= hp.tricks %> | <%= hp.game_score %>
            </td>
          <% else %>
            <td style="<%= 'background-color: yellow' if hp == @current_hand_player %>">-</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
